/* font-family: "HelveticaNeueCyrRoman"; */
@font-face {
  font-family: "HelveticaNeueCyrRoman";
  src: url("../fonts/HelveticaNeueCyrRoman/HelveticaNeueCyrRoman.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/* font-family: "HelveticaNeueCyrLight"; */
@font-face {
  font-family: "HelveticaNeueCyrLight";
  src: url("../fonts/HelveticaNeueCyrLight/HelveticaNeueCyrLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/* font-family: "HelveticaNeueCyrBold"; */
@font-face {
  font-family: "HelveticaNeueCyrBold";
  src: url("../fonts/HelveticaNeueCyrBold/HelveticaNeueCyrBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}