.nav__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;

  & li {
    flex: 0 1 auto;

    svg{
      display: inline-block;
      margin-right: 5px;
    }
  }

  & li:first-child .nav__link {
    padding-left: 0;
  }

  & li:last-child .nav__link {
    padding-right: 0;
  }
}

.nav__link {
  text-transform: uppercase;
  color: #fff;
  padding: 15px;
  text-decoration: none;
  font-family: $font-family_bold;
  &:hover {
    color: #D74B4B;
    transition: all 0.2s;
  }
}