.fixed-box {
  position: fixed;
  top: 10%;
  right: 50px;
}

//some styles

@media (max-width: 640px) {

  .dd_lang .dropdown .dropdown__text {
    opacity: .4;
    color: #000;
      &:after {
        border-color: #000;
      }
  }
}